{{ 'subscriptions-benefits.css' | asset_url | stylesheet_tag }}
<div id="shopify-section-subscription-benefits" class="shopify-section"><!-- section/subscription-benefits -->
  <section class="subscription-benefits" id="subscriptionBenefitssubscription-benefits" data-section-id="subscription-benefits" data-section-type="subscription-benefits">
    <div class="subscription-benefits__inner container-lg">
      <div class="subscription-header-container">
        <div  class="subscription-benefits-header">5 REASONS WHY YOU SHOULD JOIN THE</div>
        <div  class="subscription-benefits-subhead">FRENCHIE LOVERS CLUB</div>
      </div>
      <div class="subscription-benefits__content">
        <div class="subscription-benefits__row">
          <div class="subscription-benefits__heading">PERKS</div>
          <div class="subscription-benefits__heading">ONE-TIME PURCHASERS</div>
          <div class="subscription-benefits__heading">SUBSCRIBERS</div>
        </div>

          <div class="subscription-benefits__row">
            <div class="subscription-benefits__cell">
      <style>
          #Image-503396270169-0 {
      max-width: 40px;
      max-height: 40px;
    }
    #ImageWrapper-503396270169-0 {
      max-width: 40pxpx;
    }
  
    #ImageWrapper-503396270169-0::before {padding-top:100.0%;
    }
  </style>
  <div id="ImageWrapper-503396270169-0" data-image-id="503396270169" class="responsive-image__wrapper subscription-benefits__image-wrapper">
    <img id="Image-503396270169-0" class="responsive-image__image subscription-benefits__image lazyautosizes lazyloaded" data-widths="[154]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="" src={{"hand.png" | asset_url}}>
  </div>
  <noscript>
    <img class="subscription-benefits__image" src={{"hand.png" | asset_url}}>
  </noscript>
  
  
              <div class="subscription-benefits__cell-text">
                <div class="subscription-benefits__title">15% off each recurring order</div>
                
                  <div class="subscription-benefits__subtitle"></div>
                
              </div>
            </div>
            <div class="subscription-benefits__cell">
              
            </div>
            <div class="subscription-benefits__cell">
              
                <img class="subscription-benefits__checkmark" src={{"benefots-checkmark.png" | asset_url}}>
              
            </div>
          </div>
        
          <div class="subscription-benefits__row">
            <div class="subscription-benefits__cell">
              <style>#Image-503396302937-0 {
      max-width: 40px;
      max-height: 40px;
    }
    #ImageWrapper-503396302937-0 {
      max-width: 40px;
    }
  
    #ImageWrapper-503396302937-0::before {padding-top:100.0%;
    }
  </style><div id="ImageWrapper-503396302937-0" data-image-id="503396302937" class="responsive-image__wrapper subscription-benefits__image-wrapper">
    <img id="Image-503396302937-0" class="responsive-image__image subscription-benefits__image lazyautosizes lazyloaded" data-widths="[164]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="" src={{"car.png" | asset_url}}>
  </div>
  <noscript>
    <img class="subscription-benefits__image" src={{"car.png" | asset_url}}>
  </noscript>
  
  
              <div class="subscription-benefits__cell-text">
                <div class="subscription-benefits__title">Free shipping</div> 
              </div>
            </div>
            <div class="subscription-benefits__cell">
              
            </div>
            <div class="subscription-benefits__cell">
              
                <img class="subscription-benefits__checkmark" src={{"benefots-checkmark.png" | asset_url}}>
              
            </div>
          </div>
        
          <div class="subscription-benefits__row">
            <div class="subscription-benefits__cell">
              <style>#Image-503396368473-0 {
      max-width: 40px;
      max-height: 40px;
    }
    #ImageWrapper-503396368473-0 {
      max-width: 40px;
    }
  
    #ImageWrapper-503396368473-0::before {padding-top:80.64516129032258%;
    }
  </style><div id="ImageWrapper-503396368473-0" data-image-id="503396368473" class="responsive-image__wrapper subscription-benefits__image-wrapper">
    <img id="Image-503396368473-0" class="responsive-image__image subscription-benefits__image lazyautosizes lazyloaded" data-widths="[180,186]" data-aspectratio="1.24" data-sizes="auto" tabindex="-1" alt="" src={{"gift.png" | asset_url}} >
  </div>
  <noscript>
    <img class="subscription-benefits__image" src={{"gift.png" | asset_url}}>
  </noscript>
  
  
              <div class="subscription-benefits__cell-text">
                <div class="subscription-benefits__title">Free gift with 3rd subscription order</div>
                
                  <div class="subscription-benefits__subtitle"></div>
                
              </div>
            </div>
            <div class="subscription-benefits__cell">
              
            </div>
            <div class="subscription-benefits__cell">
              
                <img class="subscription-benefits__checkmark" src={{"benefots-checkmark.png" | asset_url}}>
              
            </div>
          </div>
        
          <div class="subscription-benefits__row">
            <div class="subscription-benefits__cell">
              <style>#Image-503396466777-0 {
      max-width: 40px;
      max-height: 40px;
    }
    #ImageWrapper-503396466777-0 {
      max-width: 40px;
    }
  
    #ImageWrapper-503396466777-0::before {padding-top:100.0%;
    }
  </style><div id="ImageWrapper-503396466777-0" data-image-id="503396466777" class="responsive-image__wrapper subscription-benefits__image-wrapper">
    <img id="Image-503396466777-0" class="responsive-image__image subscription-benefits__image lazyautosizes lazyloaded" data-widths="[164]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="" src={{"ring.png" | asset_url}}>
  </div>
  <noscript>
    <img class="subscription-benefits__image" src={{"ring.png" | asset_url}}>
  </noscript>
  
  
              <div class="subscription-benefits__cell-text">
                <div class="subscription-benefits__title">Early access to new products</div>
                
                  <div class="subscription-benefits__subtitle"></div>
                
              </div>
            </div>
            <div class="subscription-benefits__cell">
              
                <img class="subscription-benefits__checkmark" src={{"benefots-checkmark.png" | asset_url}}>
              
            </div>
            <div class="subscription-benefits__cell">
              
                <img class="subscription-benefits__checkmark" src={{"benefots-checkmark.png" | asset_url}}>
              
            </div>
          </div>
        
          <div class="subscription-benefits__row">
            <div class="subscription-benefits__cell">
              <style>#Image-503396499545-0 {
      max-width: 40px;
      max-height: 40px;
    }
    #ImageWrapper-503396499545-0 {
      max-width: 40px;
    }
  
    #ImageWrapper-503396499545-0::before {padding-top:98.82352941176472%;
    }
  </style><div id="ImageWrapper-503396499545-0" data-image-id="503396499545" class="responsive-image__wrapper subscription-benefits__image-wrapper">
    <img id="Image-503396499545-0" class="responsive-image__image subscription-benefits__image lazyautosizes lazyloaded" data-widths="[170]" data-aspectratio="1.0119047619047619" data-sizes="auto" tabindex="-1" alt="" src={{"chat.png" | asset_url}} >
  </div>
  <noscript>
    <img class="subscription-benefits__image" src={{"chat.png" | asset_url}}>
  </noscript>
  
  
              <div class="subscription-benefits__cell-text">
                <div class="subscription-benefits__title">Best customer service!</div>
              </div>
            </div>
            <div class="subscription-benefits__cell">
              
                <img class="subscription-benefits__checkmark" src={{"benefots-checkmark.png" | asset_url}}>
              
            </div>
            <div class="subscription-benefits__cell">
              
                <img class="subscription-benefits__checkmark" src={{"benefots-checkmark.png" | asset_url}}>
              
            </div>
          </div>
        
      </div>
    </div>
  </section>
  
  
  
  </div>