
{{ 'subscriptions-getting-started.css' | asset_url | stylesheet_tag }}
{{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
<div class="subscriptions-getting-started">

          <!-- section headline -->
          <h2 class="getting-started-headline">CHOOSE YOUR FIRST PRODUCT</h2>
          <div class="getting-started-description-container">

              <!-- section description -->
              <p class="getting-started-description-text">You save every time you renew your subscription. We guarantee a hassle-free experience to make sure you get your favorites when you need them.</p>
          </div>


          <!-- Product for Desktop View -->
          <div class="getting-started-list-container owl-carousel">

            <div class="getting-started-item">
                <!-- Item Image -->
                <img class="getting-started-steps-icon getting-started-steps-1-icon" src={{"subscription-gsi-product-1.png" | asset_url}}  ">
                <!-- Item Name -->
                <div class="getting-started-item-name">The Beret Condom 0.05mm x 48</div>
                <div class="getting-started-item-original-price">One time Purchase: $23.00</div>
                <div class="getting-started-item-subscribe-price">Subscriber Price: $19.55</div>
                <div class="getting-started-item-save-price">SAVES: $3.45</div>
                <!-- Shop Now CTA, add link in href -->
                <a href="https://getfrenchie.com/products/the-beret-condom-0-05-x-48" type="button" class="getting-started-item-button">View Product</a>
            </div>

            <div class="getting-started-item">
                <!-- Item Image -->
                <img class="getting-started-steps-icon getting-started-steps-1-icon" src={{"subscription-gsi-product-2.png" | asset_url}}  >
                <!-- Item Name -->
                <div class="getting-started-item-name">The Beret Condom 0.05mm With Hyaluronic Acid x 48</div>
                <div class="getting-started-item-original-price">One time Purchase: $23.00</div>
                <div class="getting-started-item-subscribe-price">Subscriber Price: $19.55</div>
                <div class="getting-started-item-save-price">SAVES: $3.45</div>
                <!-- Shop Now CTA, add link in href -->
                <a href="https://getfrenchie.com/products/the-beret-condom-0-05-with-hyaluronic-acid-48" type="button" class="getting-started-item-button">View Product</a>
            </div>

            <div class="getting-started-item">
                <!-- Item Image -->
                <img class="getting-started-steps-icon getting-started-steps-1-icon" src={{"subscription-gsi-product-3.png" | asset_url}}  >
                <!-- Item Name -->
                <div class="getting-started-item-name">Oui Oui Wipes x 48</div>
                <div class="getting-started-item-original-price">One time Purchase: $23.00</div>
                <div class="getting-started-item-subscribe-price">Subscriber Price: $19.55</div>
                <div class="getting-started-item-save-price">SAVES: $3.45</div>
                <!-- Shop Now CTA, add link in href -->
                <a href="https://getfrenchie.com/products/oui-oui-wipes-x-48" type="button" class="getting-started-item-button">View Product</a>
            </div>

            <div class="getting-started-item">
                <!-- Item Image -->
                <img class="getting-started-steps-icon getting-started-steps-1-icon" src={{"subscription-gsi-product-4.png" | asset_url}} >
                <!-- Item Name -->
                <div class="getting-started-item-name">Oh La La Love Lube</div>
                <div class="getting-started-item-original-price">One time Purchase: $23.00</div>
                <div class="getting-started-item-subscribe-price">Subscriber Price: $19.55</div>
                <div class="getting-started-item-save-price">SAVES: $3.45</div>
                <!-- Shop Now CTA, add link in href -->
                <a href="https://getfrenchie.com/products/love-lube" type="button" class="getting-started-item-button">View Product</a>
            </div>
  
            <div class="getting-started-item">
                <!-- Item Image -->
                <img class="getting-started-steps-icon getting-started-steps-1-icon" src={{"subscription-gsi-product-5.png" | asset_url}} >
                <!-- Item Name -->
                <div class="getting-started-item-name">Deux Beret Condom Bundle</div>
                <div class="getting-started-item-original-price">One time Purchase: $23.00</div>
                <div class="getting-started-item-subscribe-price">Subscriber Price: $19.55</div>
                <div class="getting-started-item-save-price">SAVES: $3.45</div>
                <!-- Shop Now CTA, add link in href -->
                <a href="https://getfrenchie.com/products/deux-beret-condom-bundle" type="button" class="getting-started-item-button">View Product</a>
            </div>
  
            <div class="getting-started-item">
                <!-- Item Image -->
                <img class="getting-started-steps-icon getting-started-steps-1-icon" src={{"subscription-gsi-product-6.png" | asset_url}} >
                <!-- Item Name -->
                <div class="getting-started-item-name">The Beret Condom 0.05mm With Hyaluronic Acid x 24</div>
                <div class="getting-started-item-original-price">One time Purchase: $23.00</div>
                <div class="getting-started-item-subscribe-price">Subscriber Price: $19.55</div>
                <div class="getting-started-item-save-price">SAVES: $3.45</div>
                <!-- Shop Now CTA, add link in href -->
                <a href="https://getfrenchie.com/products/the-beret-condom-0-05-with-hyaluronic-acid-24" type="button" class="getting-started-item-button">View Product</a>
            </div>
  
            <div class="getting-started-item">
                <!-- Item Image -->
                <img class="getting-started-steps-icon getting-started-steps-1-icon" src={{"subscription-gsi-product-7.png" | asset_url}} >
                <!-- Item Name -->
                <div class="getting-started-item-name">The Beret Condom 0.05mm x 24</div>
                <div class="getting-started-item-original-price">One time Purchase: $23.00</div>
                <div class="getting-started-item-subscribe-price">Subscriber Price: $19.55</div>
                <div class="getting-started-item-save-price">SAVES: $3.45</div>
                <!-- Shop Now CTA, add link in href -->
                <a href="https://getfrenchie.com/products/the-beret-condom-0-05-x-424" type="button" class="getting-started-item-button">View Product</a>
            </div>
      </div>


      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src={{"owl.carousel.js" | asset_url}} ></script>
<script>

  
        $(".owl-carousel").owlCarousel({
        items: 1,
        nav: false,
        dots: true,
        loop: true,
        margin:0,
          responsive : {
            1023 : {
              items: 4,
              nav: false,
              dots: true,
              loop: true,
              margin:0,
            }
          }
        
      });


</script>