{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'blog-rework.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}

{%- comment -%}

latest-articles
sex-relationships
health-beauty
culture-lifestyle

{%- endcomment -%}


<div class="blog-categories-container">
  <div class="main-blog section-{{ section.id }}-padding reworked">
    {%- comment -%} <div class="breadcrumb">

      <span class="breadcrumb-divider">/</span>
      <a href="{{ blog.url }}">Le Journal</a>
      <span class="breadcrumb-divider">/</span>

      <div> {{ current_tags }} </div>
    </div> {%- endcomment -%}
    <div class="">
      <h1 class="title--primary">{{ blog.title | escape }}</h1>


      <p class="sliding-banner__message">{{ section.settings.text | escape }}</p>


      <div class="blog-categories-list-container">
        <a class="category-list-item button" href="https://getfrenchie.com/blogs/news/tagged/sex-relationships">
          <div>
            Sex & Relationships
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30"
            height="30" viewBox="0 0 1080 1080" xml:space="preserve">
            <desc>Created with Fabric.js 5.2.4</desc>
            <defs>
            </defs>
            <g transform="matrix(1 0 0 1 540 540)" id="8d303780-458e-46d2-a81b-5332dd819576">
            </g>
            <g transform="matrix(1 0 0 1 540 540)" id="b912bad9-fbd0-4c9f-8fac-cf2393398e82">
              <rect
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;"
                vector-effect="non-scaling-stroke" x="-540" y="-540" rx="0" ry="0" width="1080" height="1080" />
            </g>
            <g transform="matrix(1 0 0 1 540 510.81)">
              <rect
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;"
                vector-effect="non-scaling-stroke" x="-540" y="-540" rx="0" ry="0" width="1080" height="1080" />
            </g>
            <g transform="matrix(2.16 0 0 2.16 538.97 553)">
              <path
                style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                vector-effect="non-scaling-stroke" transform=" translate(-350, -280.01)"
                d="M 589.62 261.99 C 583.5888 250.845 574.682 241.52100000000002 563.831 234.98600000000002 C 552.976 228.44690000000003 540.569 224.93500000000003 527.897 224.81400000000002 L 527.8227810000001 224.81400000000002 C 517.4907810000001 224.95462000000003 507.2717810000001 227.0328 497.7017810000001 230.93510000000003 C 506.6665810000001 200.44710000000003 503.7486810000001 167.69310000000004 489.5337810000001 139.26710000000003 C 480.8579810000001 122.89210000000003 467.7527810000001 109.28710000000002 451.7137810000001 100.00510000000003 C 435.6747810000001 90.72390000000003 417.3467810000001 86.14210000000003 398.8267810000001 86.77810000000002 C 360.7327810000001 89.57500000000002 325.5927810000001 108.32910000000003 302.0647810000001 138.41910000000001 C 278.5337810000001 108.32910000000001 243.3927810000001 89.57510000000002 205.29878100000008 86.77810000000002 C 186.61878100000007 86.21560000000002 168.15378100000007 90.93040000000002 152.02578100000008 100.37210000000002 C 135.8977810000001 109.81380000000001 122.75278100000008 123.60610000000003 114.09578100000007 140.17310000000003 C 43.32978100000007 281.55310000000003 284.3557810000001 436.9931 294.65578100000005 443.53310000000005 C 299.17528100000004 446.40810000000005 304.9527810000001 446.40810000000005 309.471781 443.53310000000005 C 330.092781 429.9551000000001 349.94478100000003 415.24010000000004 368.93278100000003 399.4551 C 393.97578100000004 426.7011 422.26078100000007 450.7791 453.15578100000005 471.14610000000005 C 457.67528100000004 474.02500000000003 463.45678100000003 474.02500000000003 467.97978100000006 471.14610000000005 C 474.98368100000005 466.69300000000004 639.049781 360.89610000000005 589.6197810000001 261.9861000000001 z M 302.07 415.3 C 263.023 388.65500000000003 85.19 259.61 138.29 153.44 C 144.25879999999998 141.815 153.28199999999998 132.03 164.384 125.13499999999999 C 175.48899999999998 118.24439999999998 188.26299999999998 114.502 201.32899999999998 114.31099999999999 C 202.29384 114.31099999999999 203.2626 114.330531 204.24309999999997 114.37349999999999 C 240.32909999999998 117.354 272.4731 138.3465 289.70809999999994 170.1935 C 292.30189999999993 174.5529 296.99719999999996 177.2208 302.0670999999999 177.2208 C 307.1373999999999 177.2208 311.83269999999993 174.5528 314.42209999999994 170.1935 C 331.6560999999999 138.34550000000002 363.80109999999996 117.3535 399.8870999999999 114.3735 C 413.2890999999999 113.89694 426.5510999999999 117.22900000000001 438.1330999999999 123.9829 C 449.7150999999999 130.7368 459.1490999999999 140.63490000000002 465.3360999999999 152.5299 C 480.3520999999999 182.5499 478.2270999999999 216.9679 459.05879999999985 255.0199 C 458.17988999999983 254.08631 457.20329999999984 253.23080000000002 456.28539999999987 252.32850000000002 C 455.2971199999999 251.35584000000003 454.33619999999985 250.36370000000002 453.3009999999999 249.43400000000003 C 452.05489999999986 248.3129 450.74629999999985 247.26990000000004 449.4415999999999 246.20740000000004 C 448.35179999999986 245.32068000000004 447.2931999999999 244.41050000000004 446.16429999999986 243.57070000000004 C 444.82449999999983 242.57070000000004 443.42209999999983 241.66050000000004 442.0314999999999 240.73090000000005 C 440.8595999999999 239.94574000000006 439.7150999999999 239.12540000000004 438.5080999999999 238.38710000000006 C 437.0744999999999 237.50819000000007 435.5900999999999 236.73870000000005 434.1174999999999 235.93400000000005 C 432.8869999999999 235.26212000000007 431.6838999999999 234.55120000000005 430.4338999999999 233.93790000000004 C 428.92219999999986 233.19571000000005 427.3713999999999 232.57070000000004 425.8283999999999 231.91060000000004 C 424.56279999999987 231.36763000000005 423.3205999999999 230.77390000000005 422.03929999999986 230.28950000000003 C 420.43379999999985 229.68403000000004 418.80489999999986 229.21530000000004 417.17989999999986 228.70360000000002 C 415.92989999999986 228.30907000000002 414.69549999999987 227.84813000000003 413.4415999999999 227.51610000000002 C 411.6290999999999 227.03172000000004 409.8009999999999 226.70751 407.97679999999986 226.35200000000003 C 406.89479999999986 226.14106000000004 405.82059999999984 225.84419000000003 404.7384999999999 225.67622000000003 L 404.7502189999999 225.67622000000003 C 401.8635189999999 225.22700000000003 398.9572189999999 224.94575000000003 396.0393189999999 224.83638000000002 C 382.7463189999999 224.52388000000002 369.6293189999999 227.92618000000002 358.1643189999999 234.66058 C 346.6953189999999 241.39108000000002 337.33631899999995 251.18758000000003 331.1293189999999 262.94558 C 330.3558789999999 264.50028000000003 329.6137189999999 266.11748 328.9027189999999 267.79718 C 328.68005899999986 268.32062 328.48865899999987 268.87918 328.27380899999986 269.41438000000005 C 327.80114899999984 270.59798000000006 327.32849899999985 271.7815800000001 326.89880899999986 273.01988000000006 C 326.6605289999999 273.70347000000004 326.45739899999984 274.42608000000007 326.23474899999985 275.12928000000005 C 325.86755899999986 276.27768000000003 325.5042789999998 277.42228000000006 325.1800489999998 278.61368000000004 C 324.96520899999985 279.41056000000003 324.78551899999985 280.24648 324.59020899999985 281.06288000000006 C 324.31286899999986 282.2151800000001 324.03942899999987 283.3675800000001 323.8050489999998 284.56288000000006 C 323.63316899999984 285.4496000000001 323.49645899999985 286.36368000000004 323.35191899999984 287.27378000000004 C 323.1605089999998 288.46518000000003 322.9730089999998 289.66048000000006 322.82847899999985 290.89488000000006 C 322.71519899999987 291.85582000000005 322.64097899999985 292.8440800000001 322.55894899999987 293.83238000000006 C 322.45738899999986 295.06288000000006 322.36753899999985 296.2971800000001 322.3167589999999 297.56678000000005 C 322.2737909999999 298.60978000000006 322.2659779999999 299.66838000000007 322.2620719999999 300.73478000000006 C 322.25816499999985 302.0120800000001 322.2737909999999 303.29728000000006 322.3245719999999 304.60978000000006 C 322.3675409999999 305.71918000000005 322.43785199999985 306.84028000000006 322.5237919999999 307.9769800000001 C 322.6214479999999 309.3050800000001 322.7542619999999 310.6488800000001 322.9183219999999 312.0081800000001 C 323.0550419999999 313.1800800000001 323.21520199999986 314.3597800000001 323.3987919999999 315.5589800000001 C 323.6136319999999 316.94178000000005 323.8753519999999 318.3480800000001 324.1527019999999 319.76598000000007 C 324.3948919999999 320.9964800000001 324.6487919999999 322.2307800000001 324.9417619999999 323.48868000000004 C 325.2816019999999 324.94178000000005 325.6878519999999 326.41838000000007 326.09796199999994 327.90278000000006 C 326.45343199999996 329.17618000000004 326.80108199999995 330.44578000000007 327.2112619999999 331.74658000000005 C 327.69563199999993 333.28178 328.2581619999999 334.84428 328.8245619999999 336.41458000000006 C 329.2972219999999 337.72708000000006 329.7464419999999 339.02788000000004 330.2776619999999 340.3637800000001 C 330.9221919999999 341.9887800000001 331.6682619999999 343.64898000000005 332.3987619999999 345.30908000000005 C 332.9886019999999 346.63718000000006 333.53546199999994 347.95358000000004 334.1839619999999 349.30518000000006 C 335.0316219999999 351.07858000000004 336.00426199999987 352.8949800000001 336.9573619999999 354.70358000000004 C 337.63705199999987 355.99658000000005 338.2620619999999 357.26998000000003 339.0003619999999 358.58248000000003 C 340.1995619999999 360.71918000000005 341.5550619999999 362.91058000000004 342.9065619999999 365.10198 C 343.5393719999999 366.12928000000005 344.0940619999999 367.12928000000005 344.7620619999999 368.16838 C 346.8518619999999 371.41448 349.0940619999999 374.71138 351.5315619999999 378.06288 C 330.3205619999999 395.56688 311.8555619999999 408.63688 302.0705619999999 415.30488 z M 460.64 442.90500000000003 L 460.64 442.908906 C 431.14799999999997 422.658906 404.456 398.611906 381.24899999999997 371.385906 C 351.06499999999994 334.346906 342.51899999999995 301.998906 355.31899999999996 276.20590599999997 C 357.44399999999996 272.64730599999996 359.9206 269.31920599999995 362.71739999999994 266.260606 C 362.88145999999995 266.080916 363.02989999999994 265.866076 363.19786999999997 265.690296 L 363.19786999999997 265.694203 C 365.64707 263.09650300000004 368.40097 260.807503 371.39707 258.866103 C 371.69784999999996 258.670793 371.98690999999997 258.428603 372.29159999999996 258.241103 C 375.15099999999995 256.498903 378.2252 255.135603 381.43609999999995 254.190303 C 381.79157 254.084833 382.13532 253.940303 382.49469999999997 253.842643 C 385.79159999999996 252.987173 389.1783 252.534043 392.58469999999994 252.502843 C 393.41281999999995 252.491125 394.21359999999993 252.401283 395.0573999999999 252.432531 C 417.39339999999993 254.24113100000002 437.3273999999999 267.155531 448.1083999999999 286.803531 L 448.1279309999999 286.834781 L 448.1865249999999 286.967591 C 448.22949399999993 287.05743500000005 448.32324499999993 287.10821100000004 448.3701149999999 287.19415100000003 C 449.1044949999999 288.48715100000004 450.0420149999999 289.655051 451.1513149999999 290.64725100000004 C 451.6044349999999 291.112091 452.0927249999999 291.54569100000003 452.6083149999999 291.93635100000006 C 453.6630149999999 292.64729100000005 454.8075149999999 293.20585100000005 456.0145149999999 293.6004510000001 C 456.4559249999999 293.8504510000001 456.9129549999999 294.0770110000001 457.3856149999999 294.27233100000007 C 463.6083149999999 295.74113100000005 470.0306149999999 292.74503100000004 472.9056149999999 287.03013100000004 C 473.4524949999999 285.94423100000006 474.0970149999999 284.74493100000007 474.7337149999999 283.69423100000006 L 474.72980899999993 283.69423100000006 C 486.2568089999999 265.22123100000005 506.07780899999995 253.54923100000005 527.823809 252.42823100000007 L 527.862872 252.42823100000007 C 535.6050720000001 252.47901200000007 543.190872 254.62743100000006 549.8078720000001 258.65093100000007 C 556.4248720000002 262.6744310000001 561.823872 268.4165310000001 565.4328720000001 275.2679310000001 C 595.0968720000001 334.6819310000001 505.90987200000006 412.0279310000001 460.64287200000007 442.9079310000001 z"
                stroke-linecap="round" />
            </g>
          </svg>
        </a>
        <a class="category-list-item button" href="https://getfrenchie.com/blogs/news/tagged/health-beauty">
          <div>
            Health & Beauty

          </div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30"
            height="30" viewBox="0 0 1080 1080" xml:space="preserve">
            <desc>Created with Fabric.js 5.2.4</desc>
            <defs>
            </defs>
            <rect x="0" y="0" width="100%" height="100%" fill="transparent" />
            <g transform="matrix(1 0 0 1 540 540)" id="750c9436-684b-4c63-8773-1ac20f9cf76f">
            </g>
            <g transform="matrix(1 0 0 1 540 540)" id="506dcd48-1f29-499f-acf5-0da4dff205b0">
              <rect
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;"
                vector-effect="non-scaling-stroke" x="-540" y="-540" rx="0" ry="0" width="1080" height="1080" />
            </g>
            <g transform="matrix(1.86 0 0 1.86 320.41 461.11)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                vector-effect="non-scaling-stroke" transform=" translate(-233.38, -237.15)"
                d="M 350 168.85 L 185.39 333.46000000000004 C 184.54234 334.30766000000006 183.69469999999998 335.1553 181.9955 335.1553 C 124.3005 353.8233 128.5425 353.8233 125.1475 353.8233 C 119.21 353.8233 114.9635 347.8858 117.51079999999999 342.7923 L 135.3268 288.4873 C 135.3268 287.63964 136.17445999999998 285.9404 137.0221 285.0928 L 301.63210000000004 120.4828 z"
                stroke-linecap="round" />
            </g>
            <g transform="matrix(1.86 0 0 1.86 545.28 239.73)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                vector-effect="non-scaling-stroke" transform=" translate(-353.78, -118.27)"
                d="M 326.24 67.879 C 310.967 84 297.392 92.48400000000001 305.877 100.12100000000001 C 369.514 162.05900000000003 374.60400000000004 174.78900000000002 383.939 166.305 L 404.302 145.942 z"
                stroke-linecap="round" />
            </g>
            <g transform="matrix(1.86 0 0 1.86 636.26 147.28)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                vector-effect="non-scaling-stroke" transform=" translate(-402.61, -68.73)"
                d="M 372.91 20.363 L 338.12100000000004 55.152 L 416.18300000000005 133.214 C 440.78800000000007 105.214 467.0930000000001 93.33500000000001 467.0930000000001 59.397999999999996 C 467.0890940000001 11.030999999999999 407.69500000000005 -14.426000000000002 372.9090000000001 20.363 z"
                stroke-linecap="round" />
            </g>
            <g transform="matrix(1.86 0 0 1.86 815.03 349.99)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                vector-effect="non-scaling-stroke" transform=" translate(-498.49, -177.33)"
                d="M 563.82 168.85 L 557.8825 168.85 L 557.8825 157.819 C 557.8825 152.7292 553.6403 149.3346 549.3981 149.3346 L 447.5781 149.3346 C 442.4883 149.3346 439.0937 152.7291 439.0937 157.819 L 439.0937 168.85 L 433.1562 168.85 C 428.0664 168.85 424.6718 172.2445 424.6718 177.3344 C 424.6718 182.42419999999998 428.0663 185.81879999999998 433.1562 185.81879999999998 L 439.0937 185.81879999999998 L 439.0937 205.33479999999997 L 557.8837 205.33479999999997 L 557.8837 185.81879999999998 L 563.8212 185.81879999999998 C 568.911 185.81879999999998 572.3056 182.4243 572.3056 177.3344 C 572.3056 173.0922 568.9111 168.85 563.8173 168.85 z"
                stroke-linecap="round" />
            </g>
            <g transform="matrix(1.86 0 0 1.86 815.56 623.98)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                vector-effect="non-scaling-stroke" transform=" translate(-498.91, -324.45)"
                d="M 378 417.45 C 400.91 401.329 424.668 400.481 448.426 417.45 C 487.457 444.602 496.789 405.57099999999997 534.121 405.57099999999997 C 567.211 405.57099999999997 568.91 426.782 595.211 426.782 C 607.938 426.782 613.027 422.53979999999996 620.664 417.45 C 622.3593 416.60233999999997 624.0585 414.9031 625.7538 414.0555 L 625.757706 364.8445 C 625.757706 316.4815 613.878706 268.96549999999996 590.968706 226.54449999999997 C 589.273406 223.99759999999998 586.726506 222.30229999999997 583.332006 222.30229999999997 C 410.24200599999995 223.99759999999998 411.942006 218.06009999999998 406.85200599999996 226.54449999999997 C 383.94200599999994 268.97049999999996 372.063006 316.48249999999996 372.063006 364.8445 L 372.063006 421.6925 C 374.60990599999997 419.9972 376.309106 419.1495 378.00440599999996 417.45029999999997 z"
                stroke-linecap="round" />
            </g>
            <g transform="matrix(1.86 0 0 1.86 813.97 931.31)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                vector-effect="non-scaling-stroke" transform=" translate(-498.06, -489.15)"
                d="M 595.21 443.76 C 562.12 443.76 560.421 422.549 534.12 422.549 C 507.815 422.549 506.968 443.76 473.878 443.76 C 440.78799999999995 443.76 439.089 422.549 412.788 422.549 C 392.425 422.549 389.03000000000003 433.58 371.214 440.36499999999995 L 371.214 530.303 C 371.214 544.729 383.093 555.756 396.667 555.756 L 599.457 555.756 C 613.883 555.756 624.91 544.725 624.91 530.303 L 624.91 434.428 C 618.9685999999999 439.5178 609.637 443.76 595.211 443.76 z"
                stroke-linecap="round" />
            </g>
            <g transform="matrix(1.86 0 0 1.86 127.57 913.27)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                vector-effect="non-scaling-stroke" transform=" translate(-129.81, -479.5)"
                d="M 185.39 500.61 C 185.39 531.157 160.785 556.61 129.39 556.61 C 97.99499999999998 556.61 74.23799999999999 531.157 74.23799999999999 500.61 C 74.23799999999999 472.61 118.35899999999998 412.368 123.44899999999998 405.579 C 126.84349999999998 401.3368 133.63299999999998 401.3368 137.023 405.579 C 141.2691 411.5204 185.39 471.76300000000003 185.39 500.61 z"
                stroke-linecap="round" />
            </g>
          </svg>
        </a>
        <a class="category-list-item button" href="https://getfrenchie.com/blogs/news/tagged/culture-lifestyle">
          <div>
            Culture & Lifestyle
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30"
            height="30" viewBox="0 0 1080 1080" xml:space="preserve">
            <rect x="0" y="0" width="100%" height="100%" fill="transparent" />
            <g transform="matrix(1 0 0 1 540 540)" id="283ef6c1-b981-499f-b0d5-6595f64d5210">
            </g>
            <g transform="matrix(1 0 0 1 540 540)" id="d68c3ec5-c34e-4abd-ad71-26531c969c43">
              <rect
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;"
                vector-effect="non-scaling-stroke" x="-540" y="-540" rx="0" ry="0" width="1080" height="1080" />
            </g>
            <g transform="matrix(1.65 0 0 1.65 506.22 736.34)">
              <g style="" vector-effect="non-scaling-stroke">
                <g transform="matrix(1.33 0 0 1.33 196.86 -268.86)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-481.25, -166.25)"
                    d="M 490 166.25 C 490 161.6094 488.1562 157.1562 484.875 153.875 C 481.5938 150.5938 477.1406 148.75 472.5 148.75 L 472.5 183.75 C 477.1406 183.75 481.5938 181.9062 484.875 178.625 C 488.1562 175.3438 490 170.8906 490 166.25 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 151.22 19.71)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-447.08, -382.79)"
                    d="M 479.61 448.7 C 480.235 433.923 475.3014 419.45 465.786 408.126 C 464.6102 406.71189999999996 463.9071 404.9658 463.7743 403.12989999999996 C 463.7743 403.12989999999996 460.0712 352.0909 457.62199999999996 318.50089999999994 L 444.32899999999995 317.2586999999999 L 440.23519999999996 316.8836999999999 L 440.11411 317.7586999999999 L 440.06332799999996 318.1610399999999 L 433.852428 360.4310399999999 L 433.84852099999995 360.4310399999999 C 432.09852099999995 372.14603999999986 426.22742099999994 382.8530399999999 417.28652099999994 390.61903999999987 C 416.36074099999996 391.39637999999985 415.43102099999993 392.0370399999999 414.49352099999993 392.7206399999999 L 426.99752099999995 438.6816399999999 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 68.26 -379.78)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-385, -83.13)"
                    d="M 423.29 63.168 C 425.3564 61.5157 428.05170000000004 60.8868 430.6338 61.4532 C 433.2158 62.02351 435.3994 63.726600000000005 436.583 66.0899 L 469.15700000000004 131.2499 L 472.5008 131.2499 L 472.5008 113.7499 C 472.489081 99.95689999999999 468.85240000000005 86.4059 461.94980000000004 74.4609 C 461.80918 74.21481 461.69589 73.98043 461.57480000000004 73.73433999999999 L 461.570893 73.73433999999999 C 447.36789300000004 49.77733999999999 421.601893 35.05833999999999 393.750893 35.00033999999999 L 376.250893 35.00033999999999 C 355.371893 35.023777999999986 335.35589300000004 43.328439999999986 320.59089300000005 58.09033999999998 C 305.82889300000005 72.85633999999999 297.5248930000001 92.87133999999998 297.5008930000001 113.75033999999998 L 297.5008930000001 130.56633999999997 C 299.6805930000001 130.24992999999998 301.9539930000001 129.82414999999997 304.29779300000007 129.28113999999997 C 354.1217930000001 118.12513999999996 422.62779300000005 63.70713999999997 423.2877930000001 63.168139999999966 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -59.8 -268.86)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-288.75, -166.25)"
                    d="M 297.5 183.75 L 297.5 148.75 C 291.2461 148.75 285.469 152.0859 282.344 157.5 C 279.219 162.9141 279.219 169.586 282.344 175 C 285.469 180.414 291.2463 183.75 297.5 183.75 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 220.16 -262.72)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-498.75, -171.03)"
                    d="M 490 136.11 C 498.0586 140.73110000000003 503.934 148.383 506.316 157.364 C 508.69879999999995 166.3406 507.3902 175.899 502.67929999999996 183.907 C 497.97229999999996 191.9148 490.25329999999997 197.704 481.24929999999995 199.985 L 481.24929999999995 218.747 C 481.261019 228.829 484.74929999999995 238.59900000000002 491.12429999999995 246.411 C 497.49929999999995 254.2196 506.37429999999995 259.591 516.2493 261.622 L 516.2493 122.50200000000001 C 516.21805 112.90820000000001 513.0345 103.59200000000001 507.18289999999996 95.99000000000001 C 501.33129999999994 88.3884 493.13989999999995 82.924 483.87389999999994 80.43900000000001 C 487.87389999999994 91.09100000000001 489.94809999999995 102.373 489.99889999999994 113.751 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -83.14 -115.27)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-271.25, -281.46)"
                    d="M 262.5 309.16 C 268.0469 306.5975 273.945 304.87480000000005 280 304.05060000000003 L 280 253.75360000000003 L 262.5 253.75360000000003 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 68.38 -60.7)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-384.96, -322.46)"
                    d="M 365.04 377.75 C 368.01660000000004 375.8281 371.48920000000004 374.8125 375.03220000000005 374.8281 C 378.57520000000005 374.843725 382.04 375.8945 384.99700000000007 377.8476 C 387.98530000000005 375.8828 391.48140000000006 374.832 395.0590000000001 374.832 C 398.6366000000001 374.832 402.1332000000001 375.8828 405.1210000000001 377.8476 C 405.3749100000001 377.64448 405.6288100000001 377.48041 405.8827200000001 377.26948 C 411.62492000000015 372.25388 415.3866200000001 365.35148 416.4957200000001 357.80848 L 422.6207200000001 315.89448 L 422.6715010000001 315.44917 L 422.78478100000007 314.67964 L 422.7886880000001 314.67964 C 419.4136880000001 313.46084 416.4995880000001 311.23044 414.4331880000001 308.30074 C 412.3706880000001 305.36714 411.2573880000001 301.87104 411.2456880000001 298.28474 L 411.2456880000001 267.07374 C 394.18668800000006 272.63624 375.80468800000006 272.63624 358.7456880000001 267.07374 L 358.7456880000001 298.28474 C 358.7222500000001 301.87454 357.5972880000001 305.37064 355.51908800000007 308.30074 C 353.44488800000005 311.22654 350.5151880000001 313.44524 347.1362880000001 314.65624 L 353.4956880000001 357.87124000000006 C 354.7222880000001 365.70714000000004 358.8394880000001 372.80124000000006 365.0386880000001 377.7502400000001 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -121.79 34.5)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-242.37, -393.9)"
                    d="M 201.55 444.38 L 200.675 446.1925 C 200.589062 446.41125 200.49922 446.61438 200.40547 446.80577999999997 L 190.35047 467.75478 L 254.28847000000002 455.58277999999996 L 275.87447000000003 424.25077999999996 C 276.07759000000004 423.59452999999996 276.31197000000003 422.86017999999996 276.62838000000005 422.07887999999997 L 276.62838000000005 422.074974 C 277.22994000000006 420.176574 277.96038000000004 418.317174 278.81588000000005 416.516374 C 279.47604000000007 414.735174 280.30028000000004 413.016374 281.27288000000004 411.383574 C 283.39398000000006 407.03587400000004 285.97598000000005 402.930474 288.97208000000006 399.133574 L 294.39008000000007 320.051574 L 284.2570800000001 320.977354 C 275.1008800000001 321.84063399999997 266.44808000000006 325.567154 259.5300800000001 331.625354 C 255.00278000000012 335.47695400000003 251.35038000000011 340.250354 248.8190800000001 345.625354 L 201.9010800000001 443.555354 C 201.7995200000001 443.836604 201.6823300000001 444.110044 201.5495200000001 444.37957400000005 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -14.58 19.76)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-322.73, -382.83)"
                    d="M 343 438.68 L 355.555 392.61 L 355.555 392.613906 C 345.094 384.844406 338.133 373.254906 336.192 360.367906 L 329.7975 316.851906 L 314.7745 318.21520599999997 L 312.0011 318.469116 L 306.2511 403.07811599999997 C 306.12219 404.92191599999995 305.41907000000003 406.679716 304.2472 408.109316 C 301.2472 411.640516 298.69640000000004 415.527316 296.65340000000003 419.683316 C 296.01278 420.75361599999997 295.47760000000005 421.882516 295.0518 423.054416 C 294.93852000000004 423.351286 294.80571000000003 423.640356 294.66508 423.929416 C 294.02055 425.284916 293.47758 426.683316 293.04008 428.120816 C 292.75491999999997 428.82784599999997 292.51664 429.558316 292.32914 430.296616 C 292.00491999999997 431.476316 291.8643 431.96851599999997 291.70023 432.46851599999997 C 291.55960999999996 433.097426 291.29006999999996 434.40991599999995 291.02835 435.68731599999995 L 291.024444 435.68731599999995 C 290.266634 439.43341599999997 289.89164400000004 443.242016 289.907244 447.06231599999995 C 289.907244 447.65606599999995 289.969744 448.21851599999997 289.993182 448.81231599999995 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 68.33 -266.05)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-385, -168.52)"
                    d="M 353.89 246.43 C 373.519 255.9964 396.46 255.9964 416.09299999999996 246.43 C 427.79999999999995 240.68 437.65899999999993 231.75400000000002 444.53799999999995 220.668 C 451.41689999999994 209.586 455.04599999999994 196.793 455.00299999999993 183.746 L 455.00299999999993 142.062 L 425.67499999999995 83.43700000000001 C 406.12399999999997 98.058 357.00299999999993 132.734 315.00499999999994 144.574 L 315.00499999999994 183.746 C 314.9620309999999 196.78900000000002 318.58309999999994 209.582 325.4579999999999 220.66400000000002 C 332.3329999999999 231.75000000000003 342.1849999999999 240.67600000000002 353.89199999999994 246.43 z M 424.378 140 C 429.6866 140 434.472 143.1992 436.503 148.1016 C 438.5342 153.0078 437.41316 158.65259999999998 433.6592 162.4066 C 429.90524 166.16060000000002 424.2608 167.2816 419.3542 165.25039999999998 C 414.45189999999997 163.21919999999997 411.2526 158.434 411.2526 153.12539999999998 C 411.2526 145.87539999999998 417.1276 140.00039999999998 424.3776 140.00039999999998 z M 385.003 201.25 C 387.32329999999996 201.25 389.5499 200.32812 391.1905 198.6875 C 392.8311 197.04688 393.753 194.8203 393.753 192.5 L 411.253 192.5 C 411.253 201.8789 406.2491 210.543 398.128 215.234 C 390.0069 219.9215 379.99899999999997 219.9215 371.878 215.234 C 363.7569 210.54260000000002 358.753 201.87900000000002 358.753 192.5 L 376.253 192.5 C 376.253 194.8203 377.17488 197.0469 378.8155 198.6875 C 380.45612 200.3281 382.6827 201.25 385.003 201.25 z M 332.503 153.125 C 332.503 147.8164 335.7022 143.031 340.6046 141 C 345.5108 138.9688 351.1556 140.08984 354.9096 143.8438 C 358.66360000000003 147.59775999999997 359.7846 153.2422 357.7534 158.1488 C 355.7222 163.0511 350.937 166.25039999999998 345.6284 166.25039999999998 C 338.3784 166.25039999999998 332.5034 160.37539999999998 332.5034 153.12539999999998 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -129.8 -88.36)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-236.25, -301.7)"
                    d="M 245 253.75 L 227.5 253.75 L 227.5 349.648 L 233.0039 338.16 C 235.9766 331.8827 240.0351 326.18300000000005 244.9999 321.32800000000003 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 258.33 34.51)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-527.46, -393.92)"
                    d="M 485.71 321.01 L 475.21 320.04906 C 477.3467 348.92406 480.21389999999997 388.48306 480.99519999999995 399.13906 C 486.6319 406.43206 490.90539999999993 414.68606 493.6122 423.49805999999995 L 515.7332 455.60305999999997 L 579.7062 467.78306 L 521.2182 345.73305999999997 C 514.562 331.81505999999996 501.07320000000004 322.42405999999994 485.71020000000004 321.00606 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -129.89 -187.15)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-236.25, -227.5)"
                    d="M 201.25 236.25 L 271.25 236.25 L 258.125 218.75 L 201.25 218.75 z" stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -252.41 92.85)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-144.38, -437.5)"
                    d="M 183.75 441.03 L 183.75 428.753 L 105 428.753 L 105 446.253 L 181.24599999999998 446.253 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -234.94 -47.38)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-157.5, -332.5)"
                    d="M 197.98 411.25 L 210.003 386.164 L 210.003 253.754 L 105.00299999999999 253.754 L 105.00299999999999 411.254 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -77.62 120.97)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-275.62, -458.73)"
                    d="M 376.25 393.75 C 376.171875 393.12891 375.70703 392.625 375.0938 392.4961 C 374.47661 392.36719 373.85159999999996 392.64063 373.5274 393.17969 L 358.4414 448.55069 L 358.44530599999996 448.55069 C 357.56249599999995 451.77729 354.921906 454.21869 351.63670599999995 454.84369 L 191.23670599999994 485.39869 C 186.67030599999995 486.26977999999997 182.55310599999993 488.70729 179.58870599999995 492.28929 C 176.62390599999995 495.87129 175.00280599999994 500.37519 174.99890599999995 505.02329 C 175.00281199999995 510.32018999999997 177.10830599999994 515.39829 180.85440599999995 519.14429 C 184.60050599999997 522.8903899999999 189.67860599999995 524.9958899999999 194.97540599999996 524.99979 L 205.79140599999997 524.99979 C 207.73670599999997 524.991978 209.67030599999995 524.6990099999999 211.52970599999998 524.12479 L 376.24970599999995 474.73778999999996 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 68.3 186.41)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-385, -507.69)"
                    d="M 305.83 514.14 L 305.99016 524.999 L 464.01016000000004 524.999 L 464.17032000000006 514.14 L 384.99832000000004 490.38599999999997 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 214.04 120.97)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-494.37, -458.73)"
                    d="M 578.76 485.4 L 418.35 454.84499999999997 C 415.0688 454.21608999999995 412.432 451.7747 411.54920000000004 448.55199999999996 L 396.46320000000003 393.181 L 396.467106 393.181 C 396.142886 392.64194 395.517886 392.3685 394.900706 392.49741 C 394.28742600000004 392.62632 393.822606 393.13022 393.744506 393.75131 L 393.744506 474.73931 L 558.464506 524.12631 C 560.3239060000001 524.70053 562.257506 524.9935 564.202806 525.00131 L 575.018806 525.00131 C 580.307906 524.993498 585.3778060000001 522.8919099999999 589.120806 519.15751 C 592.866906 515.42311 594.976306 510.35671 594.995806 505.06751 L 594.995806 504.981573 C 594.984087 500.340973 593.3552060000001 495.844873 590.390306 492.27457300000003 C 587.429406 488.700373 583.316106 486.27067300000004 578.757306 485.39957300000003 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -259.66 168.57)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-138.92, -494.35)"
                    d="M 157.64 501.56 C 157.86656 497.5795 158.7533 493.6655 160.265 489.974 L 172.84699999999998 463.724 L 104.99899999999998 463.724 L 104.99899999999998 524.9739999999999 L 163.39 524.9739999999999 C 160.15169999999998 519.8217 158.2259 513.954 157.7884 507.8879999999999 L 157.690744 507.8879999999999 L 157.499334 505.7512999999999 L 157.499334 505.2981799999999 L 157.499334 505.04426999999987 L 157.499334 504.7473899999999 L 157.499334 504.7434839999999 C 157.487615 503.6809839999999 157.53449 502.6184839999999 157.63995400000002 501.5598839999999 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -234.95 -338.97)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-157.5, -113.75)"
                    d="M 157.5 166.25 C 171.426 166.25 184.777 160.7188 194.625 150.875 C 204.4688 141.0273 210 127.676 210 113.75 C 210 99.824 204.4688 86.473 194.625 76.625 C 184.7773 66.7812 171.426 61.25 157.5 61.25 C 143.574 61.25 130.223 66.7812 120.375 76.625 C 110.5312 86.4727 105 99.824 105 113.75 C 105.015625 127.668 110.5508 141.016 120.391 150.859 C 130.2348 160.6988 143.582 166.234 157.5 166.25 z M 157.5 78.75 C 166.7812 78.75 175.684 82.4375 182.25 89 C 188.8125 95.5664 192.5 104.469 192.5 113.75 C 192.5 123.031 188.8125 131.934 182.25 138.5 C 175.6836 145.0625 166.781 148.75 157.5 148.75 C 148.219 148.75 139.316 145.0625 132.75 138.5 C 126.1875 131.9336 122.5 123.031 122.5 113.75 C 122.5 104.469 126.1875 95.566 132.75 89 C 139.3164 82.4375 148.219 78.75 157.5 78.75 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -234.84 -338.86)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-157.5, -113.75)"
                    d="M 175 113.75 C 175 123.4141 167.1641 131.25 157.5 131.25 C 147.8359 131.25 140 123.4141 140 113.75 C 140 104.0859 147.8359 96.25 157.5 96.25 C 167.1641 96.25 175 104.0859 175 113.75"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -234.95 -249.76)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-157.5, -180.57)"
                    d="M 210 201.25 L 210 159.898 C 196.762 175.054 177.621 183.75 157.5 183.75 C 137.379 183.75 118.238 175.0547 105 159.898 L 105 201.25 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -252.41 -187.15)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-144.38, -227.5)"
                    d="M 105 218.75 L 183.75 218.75 L 183.75 236.25 L 105 236.25 z" stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -330.5 409.93)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-15.74, 15.92)"
                    d="M 29.312 -1.75 C 27.8003 -0.96875 26.2222 -0.3789 24.5776 0.015600000000000058 C 22.9409 0.42185000000000006 21.2378 0.6249800000000001 19.4682 0.6249800000000001 C 14.1557 0.6249800000000001 9.9409 -0.8594199999999999 6.8271999999999995 -3.82812 C 3.7216999999999993 -6.79692 2.1709999999999994 -10.82812 2.1709999999999994 -15.92212 C 2.1709999999999994 -21.01612 3.721799999999999 -25.04712 6.8271999999999995 -28.01612 C 9.9405 -30.984920000000002 14.1553 -32.46922 19.4682 -32.46922 C 21.2377 -32.46922 22.9409 -32.27 24.5776 -31.87547 C 26.2221 -31.47703 27.8003 -30.88328 29.312 -30.09427 L 29.312 -23.50047 C 27.780800000000003 -24.53957 26.2729 -25.30127 24.796400000000002 -25.78167 C 23.315900000000003 -26.269949999999998 21.7573 -26.51605 20.1245 -26.51605 C 17.187 -26.51605 14.878400000000001 -25.57074 13.2026 -23.68795 C 11.5229 -21.81295 10.687000000000001 -19.22315 10.687000000000001 -15.922350000000002 C 10.687000000000001 -12.629350000000002 11.522940000000002 -10.039550000000002 13.2026 -8.156750000000002 C 14.878400000000001 -6.281750000000002 17.187 -5.344250000000002 20.1245 -5.344250000000002 C 21.7573 -5.344250000000002 23.3159 -5.582530000000002 24.796400000000002 -6.063000000000002 C 26.273000000000003 -6.551280000000002 27.780800000000003 -7.316900000000002 29.312 -8.359900000000003 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -291.92 414.83)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-12.56, 12.25)"
                    d="M 21.453 -17.406 C 20.77331 -17.7185 20.101399999999998 -17.945059999999998 19.4374 -18.0935 C 18.78115 -18.24975 18.1171 -18.32788 17.453 -18.32788 C 15.4842 -18.32788 13.968599999999999 -17.69507 12.906099999999999 -16.43728 C 11.851399999999998 -15.175580000000002 11.328 -13.366980000000002 11.328 -11.01538 L 11.328 0.0006199999999996209 L 3.6717999999999993 0.0006199999999996209 L 3.6717999999999993 -23.92138 L 11.328 -23.92138 L 11.328 -19.99948 C 12.304559999999999 -21.56198 13.429599999999999 -22.702579999999998 14.703 -23.42138 C 15.9842 -24.14013 17.5155 -24.49948 19.296799999999998 -24.49948 C 19.546799999999998 -24.49948 19.82024 -24.487761 20.124919999999996 -24.46823 C 20.425699999999996 -24.444792 20.859299999999998 -24.397917999999997 21.421819999999997 -24.32761 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -260.29 415.25)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-14.72, 11.94)"
                    d="M 27.562 -12.031 L 27.562 -9.8435 L 9.671000000000003 -9.8435 C 9.858500000000003 -8.050500000000001 10.503030000000003 -6.706800000000001 11.608500000000003 -5.8123000000000005 C 12.721800000000004 -4.913860000000001 14.280400000000004 -4.468500000000001 16.280400000000004 -4.468500000000001 C 17.882000000000005 -4.468500000000001 19.530400000000004 -4.70288 21.217900000000004 -5.171620000000001 C 22.905400000000004 -5.648180000000001 24.639800000000005 -6.374720000000001 26.421000000000003 -7.343520000000001 L 26.421000000000003 -1.4529200000000007 C 24.616300000000003 -0.7654200000000007 22.811600000000002 -0.2498200000000006 20.999100000000002 0.09397999999999929 C 19.186600000000002 0.44553999999999927 17.378 0.6252299999999993 15.577200000000001 0.6252299999999993 C 11.241300000000003 0.6252299999999993 7.874100000000001 -0.4724700000000006 5.468200000000001 -2.6716700000000007 C 3.069800000000001 -4.8786700000000005 1.8744000000000014 -7.968570000000001 1.8744000000000014 -11.93727 C 1.8744000000000014 -15.84347 3.050200000000001 -18.90997 5.4056000000000015 -21.140369999999997 C 7.768900000000002 -23.378669999999996 11.015 -24.499769999999998 15.140000000000002 -24.499769999999998 C 18.897800000000004 -24.499769999999998 21.9095 -23.363069999999997 24.171200000000002 -21.09357 C 26.429000000000002 -18.83187 27.5618 -15.81237 27.5618 -12.03107 z M 19.7026 -14.5622 C 19.7026 -16.0192 19.27291 -17.1911 18.421400000000002 -18.0778 C 17.577650000000002 -18.97233 16.4722 -19.4216 15.108900000000002 -19.4216 C 13.616700000000002 -19.4216 12.409700000000003 -19.00363 11.483900000000002 -18.1716 C 10.565930000000002 -17.33566 9.991700000000002 -16.1325 9.765100000000002 -14.5622 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -221.7 415.25)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-13.98, 11.94)"
                    d="M 14.391 -10.766 C 12.7972 -10.766 11.597999999999999 -10.49256 10.7972 -9.9535 C 9.99251 -9.41053 9.594100000000001 -8.6137 9.594100000000001 -7.5629 C 9.594100000000001 -6.59415 9.91441 -5.8324 10.562850000000001 -5.2817 C 11.20738 -4.73873 12.109750000000002 -4.4692 13.26595 -4.4692 C 14.70345 -4.4692 15.91045 -4.98482 16.89095 -6.0161 C 17.87923 -7.0473 18.37535 -8.3364 18.37535 -9.8911 L 18.37535 -10.7661 z M 26.079 -13.656600000000001 L 26.079 -0.000600000000000378 L 18.3759 -0.000600000000000378 L 18.3759 -3.5475000000000003 C 17.344700000000003 -2.0983 16.1884 -1.0397000000000003 14.907100000000002 -0.3756000000000004 C 13.625800000000002 0.28849999999999953 12.067300000000001 0.6243999999999996 10.235200000000003 0.6243999999999996 C 7.754700000000002 0.6243999999999996 5.739100000000002 -0.09826000000000035 4.188300000000003 -1.5475000000000003 C 2.6453000000000024 -2.9928000000000003 1.8758000000000026 -4.867800000000001 1.8758000000000026 -7.1725 C 1.8758000000000026 -9.985 2.8367400000000025 -12.0397 4.766400000000003 -13.3444 C 6.703900000000003 -14.6569 9.735200000000003 -15.3132 13.860200000000003 -15.3132 L 18.3758 -15.3132 L 18.3758 -15.92258 C 18.3758 -17.12958 17.89533 -18.016379999999998 16.9383 -18.578780000000002 C 15.989080000000001 -19.141280000000002 14.500800000000002 -19.422530000000002 12.469500000000002 -19.422530000000002 C 10.832800000000002 -19.422530000000002 9.313300000000002 -19.25456 7.907000000000002 -18.922530000000002 C 6.500800000000002 -18.59831 5.188200000000002 -18.110030000000002 3.969500000000002 -17.45373 L 3.969500000000002 -23.28183 C 5.614000000000002 -23.68808 7.258600000000001 -23.98886 8.907000000000002 -24.18808 C 10.563200000000002 -24.39511 12.211700000000002 -24.50058 13.860100000000003 -24.50058 C 18.180400000000002 -24.50058 21.297600000000003 -23.64511 23.203900000000004 -21.93808 C 25.118000000000006 -20.238879999999998 26.078900000000004 -17.47718 26.078900000000004 -13.65688 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -187.32 410.68)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-10.24, 15.36)"
                    d="M 12.031 -30.719 L 12.031 -23.9221 L 19.906 -23.9221 L 19.906 -18.4533 L 12.030999999999999 -18.4533 L 12.030999999999999 -8.312299999999999 C 12.030999999999999 -7.195099999999998 12.249749999999999 -6.4411999999999985 12.687249999999999 -6.046699999999999 C 13.124749999999999 -5.659979999999998 13.999749999999999 -5.468579999999998 15.312249999999999 -5.468579999999998 L 19.24975 -5.468579999999998 L 19.24975 0.00022000000000144126 L 12.687249999999999 0.00022000000000144126 C 9.663849999999998 0.00022000000000144126 7.5231499999999984 -0.6286899999999985 6.265349999999999 -1.8903799999999986 C 5.003649999999999 -3.1481799999999986 4.374749999999999 -5.288779999999999 4.374749999999999 -8.312279999999998 L 4.374749999999999 -18.45328 L 0.5778499999999989 -18.45328 L 0.5778499999999989 -23.92208 L 4.374749999999999 -23.92208 L 4.374749999999999 -30.718980000000002 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -153.47 415.25)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-14.72, 11.94)"
                    d="M 27.562 -12.031 L 27.562 -9.8435 L 9.671000000000003 -9.8435 C 9.858500000000003 -8.050500000000001 10.503030000000003 -6.706800000000001 11.608500000000003 -5.8123000000000005 C 12.721800000000004 -4.913860000000001 14.280400000000004 -4.468500000000001 16.280400000000004 -4.468500000000001 C 17.882000000000005 -4.468500000000001 19.530400000000004 -4.70288 21.217900000000004 -5.171620000000001 C 22.905400000000004 -5.648180000000001 24.639800000000005 -6.374720000000001 26.421000000000003 -7.343520000000001 L 26.421000000000003 -1.4529200000000007 C 24.616300000000003 -0.7654200000000007 22.811600000000002 -0.2498200000000006 20.999100000000002 0.09397999999999929 C 19.186600000000002 0.44553999999999927 17.378 0.6252299999999993 15.577200000000001 0.6252299999999993 C 11.241300000000003 0.6252299999999993 7.874100000000001 -0.4724700000000006 5.468200000000001 -2.6716700000000007 C 3.069800000000001 -4.8786700000000005 1.8744000000000014 -7.968570000000001 1.8744000000000014 -11.93727 C 1.8744000000000014 -15.84347 3.050200000000001 -18.90997 5.4056000000000015 -21.140369999999997 C 7.768900000000002 -23.378669999999996 11.015 -24.499769999999998 15.140000000000002 -24.499769999999998 C 18.897800000000004 -24.499769999999998 21.9095 -23.363069999999997 24.171200000000002 -21.09357 C 26.429000000000002 -18.83187 27.5618 -15.81237 27.5618 -12.03107 z M 19.7026 -14.5622 C 19.7026 -16.0192 19.27291 -17.1911 18.421400000000002 -18.0778 C 17.577650000000002 -18.97233 16.4722 -19.4216 15.108900000000002 -19.4216 C 13.616700000000002 -19.4216 12.409700000000003 -19.00363 11.483900000000002 -18.1716 C 10.565930000000002 -17.33566 9.991700000000002 -16.1325 9.765100000000002 -14.5622 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -113.8 409.42)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-14.8, 16.3)"
                    d="M 19.953 -20.422 L 19.953 -33.234 L 27.6405 -33.234 L 27.6405 0 L 19.953 0 L 19.953 -3.4531 C 18.8983 -2.0469 17.7382 -1.0156 16.4686 -0.3593000000000002 C 15.195199999999998 0.2969499999999998 13.726399999999998 0.6250799999999999 12.062399999999998 0.6250799999999999 C 9.113199999999999 0.6250799999999999 6.691299999999998 -0.5468200000000001 4.796799999999998 -2.8905200000000004 C 2.910099999999998 -5.23432 1.9686999999999983 -8.24992 1.9686999999999983 -11.937420000000001 C 1.9686999999999983 -15.624920000000003 2.910109999999998 -18.640520000000002 4.796799999999998 -20.984320000000004 C 6.691299999999998 -23.328120000000006 9.113199999999999 -24.499920000000003 12.062399999999998 -24.499920000000003 C 13.718599999999999 -24.499920000000003 15.179599999999999 -24.163980000000002 16.453 -23.499920000000003 C 17.734199999999998 -22.843670000000003 18.8983 -21.816320000000005 19.953 -20.421820000000004 z M 14.906099999999999 -4.938000000000001 C 16.5506 -4.938000000000001 17.8006 -5.535660000000001 18.6561 -6.7349000000000006 C 19.519379999999998 -7.930200000000001 19.953 -9.6646 19.953 -11.938 C 19.953 -14.2192 19.51941 -15.9575 18.6561 -17.1568 C 17.800629999999998 -18.3521 16.5506 -18.9537 14.906099999999999 -18.9537 C 13.281099999999999 -18.9537 12.034999999999998 -18.352140000000002 11.171699999999998 -17.1568 C 10.316229999999997 -15.957600000000001 9.890499999999998 -14.2193 9.890499999999998 -11.938 C 9.890499999999998 -9.6646 10.316279999999997 -7.930200000000001 11.171699999999998 -6.7349000000000006 C 12.034979999999997 -5.5357 13.281099999999999 -4.938000000000001 14.906099999999999 -4.938000000000001 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -49.45 409.42)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-16.52, 16.3)"
                    d="M 16.406 -4.9375 C 18.0388 -4.9375 19.2888 -5.53516 20.156 -6.7344 C 21.01928 -7.9297 21.4529 -9.6641 21.4529 -11.9375 C 21.4529 -14.2187 21.01931 -15.957 20.156 -17.1563 C 19.288809999999998 -18.3516 18.0388 -18.953200000000002 16.406 -18.953200000000002 C 14.7693 -18.953200000000002 13.5154 -18.347730000000002 12.6404 -17.140700000000002 C 11.7654 -15.941500000000003 11.3279 -14.207100000000002 11.3279 -11.937600000000003 C 11.3279 -9.675900000000004 11.7654 -7.941500000000003 12.6404 -6.734500000000003 C 13.5154 -5.535300000000003 14.7693 -4.937600000000003 16.406 -4.937600000000003 z M 11.3279 -20.4215 C 12.3787 -21.816000000000003 13.5467 -22.843400000000003 14.8279 -23.4996 C 16.109099999999998 -24.16366 17.5818 -24.4996 19.2498 -24.4996 C 22.1951 -24.4996 24.617 -23.3277 26.5154 -20.984 C 28.4099 -18.6402 29.3592 -15.624600000000001 29.3592 -11.937100000000001 C 29.3592 -8.249600000000001 28.40998 -5.234000000000001 26.5154 -2.8902 C 24.617 -0.5464000000000002 22.1951 0.6254 19.2498 0.6254 C 17.5818 0.6254 16.1092 0.28945999999999994 14.8279 -0.37460000000000004 C 13.546599999999998 -1.0386600000000001 12.3787 -2.066 11.3279 -3.4527 L 11.3279 0.00039999999999995595 L 3.6716999999999995 0.00039999999999995595 L 3.6716999999999995 -33.2336 L 11.3279 -33.2336 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 -10.88 421.49)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-14.13, 7.24)"
                    d="M 0.53125 -23.922 L 8.18745 -23.922 L 14.60935 -7.687999999999999 L 20.07815 -23.922 L 27.73435 -23.922 L 17.67235 2.2659999999999982 C 16.66065 4.930099999999998 15.477050000000002 6.789399999999998 14.12545 7.844099999999998 C 12.78165 8.906599999999997 11.00435 9.437899999999999 8.797350000000002 9.437899999999999 L 4.375450000000002 9.437899999999999 L 4.375450000000002 4.422299999999999 L 6.766050000000002 4.422299999999999 C 8.066850000000002 4.422299999999999 9.008250000000002 4.211359999999999 9.594150000000003 3.797299999999999 C 10.187900000000003 3.391049999999999 10.648850000000003 2.648899999999999 10.984750000000002 1.5784999999999991 L 11.187870000000002 0.9222499999999991 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 59.09 414.83)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-22.88, 12.25)"
                    d="M 25.844 -19.953 C 26.81275 -21.4296 27.9612 -22.5546 29.2971 -23.328 C 30.6291 -24.10925 32.094 -24.4999 33.6877 -24.4999 C 36.4377 -24.4999 38.5315 -23.64834 39.9689 -21.953 C 41.4064 -20.2655 42.125099999999996 -17.8007 42.125099999999996 -14.5624 L 42.125099999999996 -0.0004000000000008441 L 34.437599999999996 -0.0004000000000008441 L 34.437599999999996 -12.4694 C 34.445412 -12.6569 34.457131 -12.84831 34.468849999999996 -13.04752 C 34.476662 -13.24283 34.484474999999996 -13.5319 34.484474999999996 -13.9069 C 34.484474999999996 -15.6022 34.234474999999996 -16.8327 33.734474999999996 -17.5944 C 33.234474999999996 -18.35221 32.425875 -18.735 31.312574999999995 -18.735 C 29.863374999999994 -18.735 28.742274999999996 -18.13344 27.953174999999995 -16.9381 C 27.160204999999994 -15.7389 26.750074999999995 -14.008399999999998 26.718774999999994 -11.750599999999999 L 26.718774999999994 -0.0005999999999986017 L 19.031274999999994 -0.0005999999999986017 L 19.031274999999994 -12.469599999999998 C 19.031274999999994 -15.125799999999998 18.800804999999993 -16.8329 18.343774999999994 -17.5946 C 17.894554999999993 -18.35241 17.085974999999994 -18.7352 15.921874999999993 -18.7352 C 14.453074999999993 -18.7352 13.316374999999994 -18.12973 12.515674999999993 -16.9227 C 11.722704999999992 -15.7235 11.328174999999993 -14.0047 11.328174999999993 -11.766499999999999 L 11.328174999999993 -0.0004999999999988347 L 3.6250749999999927 -0.0004999999999988347 L 3.6250749999999927 -23.9225 L 11.328174999999993 -23.9225 L 11.328174999999993 -20.4225 C 12.265674999999993 -21.7741 13.343774999999994 -22.7897 14.562574999999992 -23.4694 C 15.781374999999992 -24.1569 17.117274999999992 -24.5006 18.57817499999999 -24.5006 C 20.23437499999999 -24.5006 21.69147499999999 -24.09826 22.95317499999999 -23.2975 C 24.22267499999999 -22.50453 25.187574999999992 -21.3913 25.84377499999999 -19.953699999999998 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 109.44 415.25)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-15.02, 11.94)"
                    d="M 15.062 -19.031 C 13.3628 -19.031 12.0659 -18.421619999999997 11.171399999999998 -17.2029 C 10.284679999999998 -15.9841 9.8433 -14.2263 9.8433 -11.9373 C 9.8433 -9.644300000000001 10.284709999999999 -7.8904000000000005 11.171399999999998 -6.6717 C 12.065929999999998 -5.4529000000000005 13.362799999999998 -4.8436 15.061999999999998 -4.8436 C 16.7261 -4.8436 17.999499999999998 -5.45298 18.874499999999998 -6.6717 C 19.757309999999997 -7.8905 20.202599999999997 -9.644400000000001 20.202599999999997 -11.9373 C 20.202599999999997 -14.2264 19.757289999999998 -15.984200000000001 18.874499999999998 -17.2029 C 17.999499999999998 -18.4217 16.7261 -19.031 15.061999999999998 -19.031 z M 15.062 -24.4998 C 19.1753 -24.4998 22.3901 -23.3904 24.702599999999997 -21.1717 C 27.015099999999993 -18.953000000000003 28.1714 -15.8748 28.1714 -11.9373 C 28.1714 -8.0076 27.0152 -4.929500000000001 24.702599999999997 -2.7028999999999996 C 22.390099999999997 -0.48409999999999975 19.175299999999996 0.6252000000000004 15.061999999999998 0.6252000000000004 C 10.925299999999996 0.6252000000000004 7.690899999999997 -0.4841999999999995 5.358899999999998 -2.7028999999999996 C 3.0346999999999986 -4.929499999999999 1.8744999999999985 -8.0076 1.8744999999999985 -11.9373 C 1.8744999999999985 -15.8748 3.034699999999998 -18.9529 5.358899999999998 -21.1717 C 7.690899999999998 -23.390500000000003 10.925299999999998 -24.4998 15.061999999999998 -24.4998 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 150.41 414.83)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-15.7, 12.25)"
                    d="M 27.734 -14.562 L 27.734 0 L 20.030900000000003 0 L 20.030900000000003 -11.156 C 20.030900000000003 -13.2185 19.984025000000003 -14.6404 19.890280000000004 -15.421600000000002 C 19.804343000000003 -16.20285 19.648090000000003 -16.781000000000002 19.421530000000004 -17.156000000000002 C 19.116840000000003 -17.656000000000002 18.710590000000003 -18.03881 18.202730000000003 -18.3122 C 17.691010000000002 -18.59345 17.10893 -18.734080000000002 16.452730000000003 -18.734080000000002 C 14.858930000000003 -18.734080000000002 13.601130000000003 -18.11689 12.687130000000003 -16.89028 C 11.780880000000003 -15.659780000000001 11.327730000000003 -13.95278 11.327730000000003 -11.76528 L 11.327730000000003 0.0007199999999993878 L 3.6715300000000024 0.0007199999999993878 L 3.6715300000000024 -23.921280000000003 L 11.327730000000003 -23.921280000000003 L 11.327730000000003 -20.421280000000003 C 12.472230000000003 -21.815780000000004 13.691030000000003 -22.843180000000004 14.983930000000003 -23.499380000000002 C 16.284730000000003 -24.16344 17.722230000000003 -24.499380000000002 19.29643 -24.499380000000002 C 22.05423 -24.499380000000002 24.148030000000002 -23.647820000000003 25.57763 -21.95248 C 27.01513 -20.26498 27.733829999999998 -17.80018 27.733829999999998 -14.561880000000002 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 193.41 409)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-16.8, 16.62)"
                    d="M 3.6719 -33.234 L 11.3281 -33.234 L 11.3281 -15.14 L 20.125 -23.9212 L 29.0156 -23.9212 L 17.327599999999997 -12.9522 L 29.921599999999998 0.0007999999999999119 L 20.656 0.0007999999999999119 L 11.3279 -9.968 L 11.3279 0.0007999999999999119 L 3.6716999999999995 0.0007999999999999119 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 219.83 409)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-7.5, 16.62)"
                    d="M 3.6719 -23.922 L 11.3281 -23.922 L 11.3281 0 L 3.671899999999999 0 z M 3.6719 -33.2345 L 11.3281 -33.2345 L 11.3281 -27.000099999999996 L 3.671899999999999 -27.000099999999996 z"
                    stroke-linecap="round" />
                </g>
                <g transform="matrix(1.33 0 0 1.33 252.19 409)">
                  <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-16.8, 16.62)"
                    d="M 3.6719 -33.234 L 11.3281 -33.234 L 11.3281 -15.14 L 20.125 -23.9212 L 29.0156 -23.9212 L 17.327599999999997 -12.9522 L 29.921599999999998 0.0007999999999999119 L 20.656 0.0007999999999999119 L 11.3279 -9.968 L 11.3279 0.0007999999999999119 L 3.6716999999999995 0.0007999999999999119 z"
                    stroke-linecap="round" />
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>

      <div class="blog-category-header latest-articles">
        <h2 class="blog-category-title">Latest Articles</h2>
        <div class="category-list-header button button--secondary">
          {%- comment -%}
          <a>
            <div>Explore Latest Articles</div>
          </a>
          {%- endcomment -%}
        </div>
      </div>
      <div
        class="blog-articles latest-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
        {%- for article in blog.articles limit:3-%}
        <div class="blog-articles__article article">
          {%- render 'article-card'
          , article: article
          , media_height: section.settings.image_height
          , media_aspect_ratio: article.image.aspect_ratio
          , show_image: section.settings.show_image
          , show_date: section.settings.show_date
          , show_author: section.settings.show_author
          , show_excerpt: true
          -%}
        </div>
        {%- endfor -%}
      </div>



      <div class="blog-category-header sex-relationships">
        <h2 class="blog-category-title">Sex & Relationships</h2>
        <div class="category-list-header button button--secondary">
          {%- comment -%}
          <a>
            <div>Explore Sex & Relationships</div>
          </a>
          {%- endcomment -%}
        </div>
      </div>
      <div
        class="blog-articles sex-relationships {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">


        <div class="blog-category container">

          {%- assign sr_first_counter = 0 -%}
          {%- assign sr_first_index = 0 -%}
          <div class="first">
            {%- for article in blog.articles -%}
            {%- if article.tags contains 'sex & relationships' -%}
            {%- if sr_first_counter == 0 and sr_first_index == 0 -%}
            <div class="blog-articles__article article">
              {%- render 'article-card-v2'
              , article: article
              , media_height: section.settings.image_height
              , media_aspect_ratio: article.image.aspect_ratio
              , show_image: section.settings.show_image
              , show_date: section.settings.show_date
              , show_author: section.settings.show_author
              , show_excerpt: true
              -%}
            </div>
            {% assign sr_first_counter = sr_first_counter | plus:1 %}
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
          <div class="second">
            {%- for article in blog.articles -%}
            {%- if article.tags contains 'sex & relationships' -%}
            {%- if sr_first_counter < 4 and sr_first_index==0 -%} {% assign sr_first_index=sr_first_index | plus:1 %}
              {%- elsif sr_first_counter < 4 and sr_first_index !=0 -%} <div class="blog-articles__article article">
              {%- render 'article-card-v2'
              , article: article
              , media_height: section.settings.image_height
              , media_aspect_ratio: article.image.aspect_ratio
              , show_image: section.settings.show_image
              , show_date: section.settings.show_date
              , show_author: section.settings.show_author
              , show_excerpt: true
              -%}
          </div>
          {% assign sr_first_counter = sr_first_counter | plus:1 %}
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="blog-category-header health-beauty">
      <h2 class="blog-category-title">Health & Beauty</h2>
      <div class="category-list-header button button--secondary">
        {%- comment -%}
        <a>
          <div>Explore Health & Beauty</div>
        </a>
        {%- endcomment -%}
      </div>
    </div>


    <div
      class="blog-articles health-beauty {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">


      <div class="blog-category container">

        {%- assign sr_first_counter = 0 -%}
        {%- assign sr_first_index = 0 -%}
        <div class="first">
          {%- for article in blog.articles -%}
          {%- if article.tags contains 'health & beauty' -%}
          {%- if sr_first_counter == 0 and sr_first_index == 0 -%}
          <div class="blog-articles__article article">
            {%- render 'article-card-v2'
            , article: article
            , media_height: section.settings.image_height
            , media_aspect_ratio: article.image.aspect_ratio
            , show_image: section.settings.show_image
            , show_date: section.settings.show_date
            , show_author: section.settings.show_author
            , show_excerpt: true
            -%}
          </div>
          {% assign sr_first_counter = sr_first_counter | plus:1 %}
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
        <div class="second">
          {%- for article in blog.articles -%}
          {%- if article.tags contains 'health & beauty' -%}
          {%- if sr_first_counter < 4 and sr_first_index==0 -%} {% assign sr_first_index=sr_first_index | plus:1 %} {%-
            elsif sr_first_counter < 4 and sr_first_index !=0 -%} <div class="blog-articles__article article">
            {%- render 'article-card-v2'
            , article: article
            , media_height: section.settings.image_height
            , media_aspect_ratio: article.image.aspect_ratio
            , show_image: section.settings.show_image
            , show_date: section.settings.show_date
            , show_author: section.settings.show_author
            , show_excerpt: true
            -%}
        </div>
        {% assign sr_first_counter = sr_first_counter | plus:1 %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="blog-category-header culture-lifestyle">
    <h2 class="blog-category-title">Culture & Lifestyle</h2>
    <div class="category-list-header button button--secondary">
      {%- comment -%}
      <a>
        <div>Explore Culture & Lifestyle</div>
      </a>
      {%- endcomment -%}
    </div>
  </div>

  <div
    class="blog-articles culture-lifestyle {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">


    <div class="blog-category container">

      {%- assign sr_first_counter = 0 -%}
      {%- assign sr_first_index = 0 -%}
      <div class="first">
        {%- for article in blog.articles -%}
        {%- if article.tags contains 'culture & lifestyle' -%}
        {%- if sr_first_counter == 0 and sr_first_index == 0 -%}
        <div class="blog-articles__article article">
          {%- render 'article-card-v2'
          , article: article
          , media_height: section.settings.image_height
          , media_aspect_ratio: article.image.aspect_ratio
          , show_image: section.settings.show_image
          , show_date: section.settings.show_date
          , show_author: section.settings.show_author
          , show_excerpt: true
          -%}
        </div>
        {% assign sr_first_counter = sr_first_counter | plus:1 %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
      <div class="second">
        {%- for article in blog.articles -%}
        {%- if article.tags contains 'culture & lifestyle' -%}
        {%- if sr_first_counter < 4 and sr_first_index==0 -%} {% assign sr_first_index=sr_first_index | plus:1 %} {%-
          elsif sr_first_counter < 4 and sr_first_index !=0 -%} <div class="blog-articles__article article">
          {%- render 'article-card-v2'
          , article: article
          , media_height: section.settings.image_height
          , media_aspect_ratio: article.image.aspect_ratio
          , show_image: section.settings.show_image
          , show_date: section.settings.show_date
          , show_author: section.settings.show_author
          , show_excerpt: true
          -%}
      </div>
      {% assign sr_first_counter = sr_first_counter | plus:1 %}
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="blog-filter hidden">
  {%- paginate blog.articles by 9 -%}
  <h2 class="title--primary">{{ current_tags }}</h2>

  <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
    {%- for article in blog.articles -%}
    <div class="blog-articles__article article">
      {%- render 'article-card'
      , article: article
      , media_height: section.settings.image_height
      , media_aspect_ratio: article.image.aspect_ratio
      , show_image: section.settings.show_image
      , show_date: section.settings.show_date
      , show_author: section.settings.show_author
      , show_excerpt: true
      -%}
    </div>
    {%- endfor -%}
  </div>

  {%- if paginate.pages > 1 -%}
  {%- render 'pagination', paginate: paginate -%}
  {%- endif -%}
  {%- endpaginate -%}

</div>

</div>
</div>


</div>


<script type="text/javascript">
  {% comment %}
  if (window.location.href.indexOf("sex-relationships") !== -1) {
    $(".latest-articles").addClass("hidden");
    $(".health-beauty").addClass("hidden");
    $(".culture-lifestyle").addClass("hidden");
  } else if (window.location.href.indexOf("health-beauty") !== -1) {
    $(".latest-articles").addClass("hidden");
    $(".sex-relationships").addClass("hidden");
    $(".culture-lifestyle").addClass("hidden");
  } else if (window.location.href.indexOf("culture-lifestyle") !== -1) {
    $(".latest-articles").addClass("hidden");
    $(".health-beauty").addClass("hidden");
    $(".sex-relationships").addClass("hidden");
  }
  {% endcomment %}

  if (window.location.href.indexOf("tagged") !== -1) {
    $(".latest-articles").addClass("hidden");
    $(".sex-relationships").addClass("hidden");
    $(".health-beauty").addClass("hidden");
    $(".culture-lifestyle").addClass("hidden");
    $(".blog-filter").removeClass("hidden");
  }
</script>



{% schema %}
{
"name": "t:sections.main-blog.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "header",
"content": "t:sections.main-blog.settings.header.content"
},
{
"type": "text",
"id": "text",
"default": "Enter Description",
"label": "Blog description"
},
{
"type": "select",
"id": "layout",
"options": [
{
"value": "grid",
"label": "t:sections.main-blog.settings.layout.options__1.label"
}, {
"value": "collage",
"label": "t:sections.main-blog.settings.layout.options__2.label"
}
],
"default": "collage",
"label": "t:sections.main-blog.settings.layout.label",
"info": "t:sections.main-blog.settings.layout.info"
},
{
"type": "checkbox",
"id": "show_image",
"default": true,
"label": "t:sections.main-blog.settings.show_image.label"
}, {
"type": "select",
"id": "image_height",
"options": [
{
"value": "adapt",
"label": "t:sections.main-blog.settings.image_height.options__1.label"
}, {
"value": "small",
"label": "t:sections.main-blog.settings.image_height.options__2.label"
}, {
"value": "medium",
"label": "t:sections.main-blog.settings.image_height.options__3.label"
}, {
"value": "large",
"label": "t:sections.main-blog.settings.image_height.options__4.label"
}
],
"default": "medium",
"label": "t:sections.main-blog.settings.image_height.label",
"info": "t:sections.main-blog.settings.image_height.info"
}, {
"type": "checkbox",
"id": "show_date",
"default": true,
"label": "t:sections.main-blog.settings.show_date.label"
}, {
"type": "checkbox",
"id": "show_author",
"default": false,
"label": "t:sections.main-blog.settings.show_author.label"
}, {
"type": "paragraph",
"content": "t:sections.main-blog.settings.paragraph.content"
}, {
"type": "header",
"content": "t:sections.all.padding.section_padding_heading"
}, {
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_top",
"default": 36
}, {
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_bottom",
"default": 36
}
]
}
{% endschema %}